anaconda-navigator
anaconda-project
astropy
backports.os
backports.shutil-get-terminal-size
bitarray
bkcharts
bokeh
boto
bottleneck
conda-build
conda-package-handling
conda-verify
contextlib2
cytoolz
distributed
ephem
fastcache
fbprophet
flask
fsspec
gevent
glob2
gym
holoviews
html5lib
jupyter
jupyterlab
lxml
mkl-fft
mkl-random
mkl-service
multipledispatch
navigator-updater
nltk
nose
numba
olefile
openpyxl
partd
path.py
pathlib2
pep8
pip-chill
ply
pycrypto
pycurl
pygame
pyodbc
pyopenssl
pyreadline
pysocks
pytest-astropy
pywinpty
scikit-image
scikit-learn
seaborn
simplegeneric
singledispatch
sortedcollections
sphinxcontrib-websupport
spyder
sqlalchemy
statsmodels
sympy
tables
tensorflow
unicodecsv
win-inet-pton
win-unicode-console
wincertstore
xlrd
xlsxwriter
xlwings
xlwt
